{
  "enabled": true,
  "dryRun": false,
  "runOnStartup": true,
  "intervalMinutes": 15,

  "fritzBoxUrl": "http://192.168.178.1:49000",
  "fritzBoxHttpsUrl": "https://192.168.178.1:49443",
  "fritzUsername": "TechnitiumSync",
  "fritzPassword": "YOUR_PASSWORD",

  "technitiumApiUrl": "http://192.168.178.2:5380",
  "technitiumApiToken": "YOUR_API_TOKEN"
}